@charset "EUC-KR";
body{
	/* 기본 여백 없애기 */
	padding: 0px;
	margin: 0px;
}

#siteTitleArea{
	width: 100%;
	border-spacing: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #459f2fee;
}

#siteTitleArea2 table{
	width: 1200px;
}

#siteTitleArea2{
	height: 130px;
}

#siteTitleMenu{
		border-top: black solid 2px;
		border-bottom: black solid 2px;
		height: 35px;
}

#siteTitleMenu table{
	width: 1200px;
}

#siteContentArea{
	padding-top: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

div {
	width: 200px;
	height: 200px;
	background-color: red;
	
	/* 좌표체계
		absolute : html기준 -> html이 움직이면 같이
		fixed : 브라우저기준 -> html이 어떻게 되든지 무관
	 */
	position: absolute; 
	
	/* 좌표조절(left or right, top or bottom) */
	left: 50px;
	top: 80px;
	
}