@charset "EUC-KR";

#loginTable td {
	padding: 5px;
}

#loginTable input {
	border: black solid 1px;
	width: 170px;
	height: 15px;
	background-color: transparent;
	color: black;
	text-align: left;
	outline: none;
	font-size: 12pt;
	padding: 5px;
}

#loginTable button, #loginTable a {
	font-size: 12pt;
	border: none;
	background-color: transparent;
	font-weight: 700;
	cursor: pointer;
	color: black;
}

#loginedTable td{
	padding: 5px;
}

#loginedTable .imgTd {
	width: 100px;
}

#loginedTable img {
	max-width: 90px;
}

#loginedTable {
	width: 240px;
	font-size: 12pt;
	font-weight: 600;
	height: 130px;
}

#loginedTable a {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 600;
	font-size: 10pt;
}

#registTable {
	width: 50%; color: black;
}

#registTable th {
	font-size: 20pt;
	height: 60px;
}

#registTable td {
	padding: 10px;
}

#registTable input {
	border: black solid 1px;
	width: 60%;
	height: 20px;
	background-color: transparent;
	color: black;
	outline: none;
	font-size: 11pt;
	padding: 5px;
}

#registTable select {
	border: black solid 1px;
	width: 17%;
	height: 25px;
	padding: 5px;
	background-color: transparent;
	color: black;
	outline: none;
}

#registTable option {
	color: black;
}

#registTable button {
	font-size: 15pt;
	cursor: pointer;
	border: none;
	background-color: transparent;
	color: black;
	font-weight: 900;
}

#memberInfoImg {
	max-width: 40%;
}